<!DOCTYPE html>
<html lang="en">

<head>
    <meta data-n-head='ssr' charset="utf-8">
    <meta data-n-head='ssr' name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Head Information -->
    <title><%= client.user.username %> - Documentation</title>
    <link data-n-head='ssr' rel='icon' type='image/x-icon' href='<%= client.user.displayAvatarURL({dynamic: true}) %>'>

    <!-- Styles -->
    <link type='text/css' rel='stylesheet' href='utilities.css'>
    <link type='text/css' rel='stylesheet' href='common.css'>
    <link type='text/css' rel='stylesheet' href='docs.css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous">

    <!-- Meta -->
    <meta data-n-head='ssr' data-hid='theme-color' name='theme-color' content='#8f45d9'>
    <meta data-n-head='ssr' data-hid='og:type' name='og:type' content='website'>
    <meta data-n-head='ssr' data-hid='og:title' name='og:title' content='Sayuchan - Discord Bot!'>
    <meta data-n-head='ssr' data-hid='og:url' name='og:url' content='http://sayuchan.ezyro.com'>
    <meta data-n-head='ssr' data-hid='og:image' name='og:image'
        content='http://sayuchan.ezyro.com/assets/logo.png'>
    <meta data-n-head='ssr' data-hid='description' name='description'
        content='Sayuchan is the best Music Bot Discord Invite Now.'>
    <meta data-n-head='ssr' data-hid='og:description' name='og:description'
        content='Sayuchan is the best Music Bot Discord Invite Now.'>
</head>

<body style='background-color: #292a2e'>
    <!-- Preloader -->

    <body class='preload'></body>

    <!-- Header -->
    <div class='navbar'>
        <div class='container full flex'>
            <a href='/' class='logo flex'>
                <img src='<%= client.user.displayAvatarURL({dynamic: true}) %>' alt='Sayuchan Logo'>
                <p class='title'><%= client.user.username %></p>
            </a>
            <nav>
                <ul>
                    <li><a class='button' href='commands'><span>Commands</span></a></li>
                    <li><a class='button currentPage' href='/docs'><span>Information</span></a></li>
                    <li><a class='button' href='stats'><span>Stats</span></a></li>
                    <li><a class='button' href='invite'><span>Invite <%= client.user.username %></span></a></li>
                    <li><a class='button' href='support'><span>Support</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- FAQ -->
    <!-- Quick Start -->
    <section class='quickstart card'>
        <h2>Quick Start Guide</h2>
        <div class='container flex'>
            <ol>
                <li> (<a href='invite'><i>Invite Sayuchan to your guild!</i></a> )
                </li>
                <li>
                    <div class='flex combine'>
                        <p>The default prefix is</p>
                        <pre><code><%= prefix  %></code></pre>
                        <p></p>
                    </div>
                </li>
                <li>You're all set to go! Have fun!</li>
            </ol>
        </div>
    </section>

    <!-- About -->
    <!-- <section class='about card'>
        <h2>About</h2>
        <div class='container flex'>
            <p>
            <%= contentUpdate1 %>
            </p>
        </div>
    </section> -->

    <!-- Latest -->
    <section class='changelog card'>
        <h2>Catalog Updates</h2>
        <h3><%= titleUpdate %></h3>
        <div class='container flex'>
            <ul>
                <li>
                    <p><%= contentUpdate1 %></p>
                </li>
                <li>
                    <p><%= contentUpdate2 %></p>
                </li>
                <li>
                    <p><%= contentUpdate3 %></p>
                </li>
            </ul>
        </div>
        <p><i>Have an idea or feature in mind you want to see on Sayuchan Revised Channel? Request it on the <a
                    href='support'>RZGroup Support Server Here!</a></i></p>
    </section>

    <!-- Developers -->
    <section class='devs card'>
        <h2>Developers</h2>
        <div class='container flex'>
            <div class='card'>
                <center><img src="https://i.ibb.co/v4MtBN6/63f85081689f1.gif" alt="Avatar"></center>
                <h3><%= titleAbout  %></h3>
                <p><%= contentAbout %></p>
                <br>
                <h4>Check Me Out Below!</h4>
                <div class='media'>
                    <a href="https://github.com/rimba5446"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://raykujan.ezyro.com/"><i class="fas fa-globe fa-2x"></i></a>
                    <a href="https://dsc.gg/rzgroup"><i class="fab fa-discord fa-2x"></i></a>
                    <a href="https://twitter.com/Raykujan"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class='footer'>
        <div class='container full grid'>
            <div class='branding'>
                <h4><%= client.user.username %></h4>
                <p>Copyright &copy; 2021-<script>document.write(new Date().getFullYear())</script></p>
            </div>
            <div class='flex'>
                <div class='footernav'>
                    <ul>
                        <li><a class='button' href='/'><span>Home</span></a></li>
                        <li><a class='button' href='commands'><span>Commands</span></a></li>
                        <li><a class='button' href='docs'><span>Information</span></a></li>
                    </ul>
                </div>
                <div class='footernav'>
                    <ul>
                        <li><a class='button' href='stats'><span>Stats</span></a></li>
                        <li><a class='button' href='support'><span>Support Server</span></a></li>
                        <li><a class='button' href='invite'><span>Invite <%= client.user.username %></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script>$(window).load(function () { 'body'.removeClass('.preload'); });</script>
</body>

</html>